<!DOCTYPE html> 
<html> 
<head> 
	<title>Initiative!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="static/css/jquery-ui.css" />
    <link rel="stylesheet" href="static/css/pf_init.min.css" />
	<script src="static/js/jquery-2.1.1.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
	<script src="static/js/jquery.mobile-1.4.5.min.js"></script>
    <script src="static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="static/js/socket.io.min.js"></script>
</head>
<body> 

<div data-role="page">

	<div data-role="header">
		<h1>Initiative!</h1>
        <a href="#clear" id="clear" class="ui-btn ui-icon-delete ui-btn-icon-right">Clear</a>
	</div><!-- /header -->

	<div data-role="content">

<ul data-role="listview" data-theme="a" data-inset="true" id="presentlist">
</ul>
        <button id="newinit" data-mini="true">New initiative!</button>
        <button id="next" data-mini="true">Next!</button>
	</div><!-- /content -->


<div data-role="popup" id="popupBasic" class="ui-content">
    <input type="text" id="monster_name" placeholder="Nieuw initiatief, naam">
    <label for="monster_roll">New initiative roll:</label>
    <input type="range" data-highlight="true" name="monster_roll" id="monster_roll" value="1" min="1" max="20">
    <label for="monster_bonus">New initiative bonus:</label>
    <input type="range" data-highlight="true" name="monster_bonus" id="monster_bonus" value="2" min="-5" max="30">
    <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
    <a href="#killpopupBasic" data-rel="popup" data-role="button" data-mini="true" id="killpopupBasic">Add!</a>
</div>

</div><!-- /page -->
<!-- http://forresst.github.io/2012/06/22/Make-a-list-jQuery-Mobile-sortable-by-drag-and-drop/ -->
<script language="javascript">
    delayed = false;
    last_stamp = 0
    initiatives =   {"list":[]}

    function add_list_initiative(name, total) {
        li = $('<li/>', {'text': name + " (init " + total + ")"})
        $("#presentlist").append(li)
    }

    function  next_click() {
        $.get( "next");
        run_refresh_list()
    }

    function run_refresh_list() {
        $.getJSON( "inistate/" + last_stamp, function( data ) {
            initiatives = data
            server_state = initiatives.state
            if(server_state == "new") {
                last_stamp = initiatives.timestamp
                $("#presentlist").empty()
                $(initiatives.list).each(function (idx) {
                    add_list_initiative(this.name, this.total)
                    if (this.turn) {
                        highlight(idx)
                    }
                })
                $("#presentlist").listview("refresh")
            }
        })
    }

    function fill_list() {
        run_refresh_list()
        setTimeout(fill_list, 2000)
    }

    function highlight(index) {
        $( "#presentlist li:eq( " + index + " )").attr("data-theme", "b").addClass("ui-body-b").removeClass("ui-body-inherit")
    }

    function setCookie(key, value) {
            var expires = new Date();
            expires.setTime(expires.getTime() + (1 * 24 * 60 * 60 * 1000));
            document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
        }

    function getCookie(key) {
            var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
            return keyValue ? keyValue[2] : null;
    }

    old_index = -1
    $(document).bind('pageinit', function() {
        // Zaken om de boel sorteerbaar te houden
        $( "#presentlist" ).sortable()
        $( "#presentlist" ).disableSelection();


        <!-- Refresh list to the end of sort to have a correct display -->
        $( "#presentlist" ).bind( "sortstart", function(event, ui) {
            old_index = ui.item.index()
        });

        // Als iemand sleur en pleur doet
        $( "#presentlist" ).bind( "sortstop", function(event, ui) {
            if (Math.abs(ui.offset.left - ui.originalPosition.left)>35){
                $.get("delete/" + ui.item.index());
                // Meteen weggooien, want trage update is lelijk
                $( "#presentlist li").eq(ui.item.index()).remove();
            } else if (old_index != ui.item.index()) {
                $.get("move/" + old_index + "/" + ui.item.index());
            }
            old_index = -1
            run_refresh_list()
        });

        // Vul de form elementen uit de cookie
        playerName = getCookie("player")
        if(playerName) {
            playerInit = getCookie("playerinit")
            $("#monster_name").val(playerName)
            $("#monster_bonus").val(playerInit)
        }

        // Als iemand op NEXT klikt, rol dan door naar de volgende
        $( "#next" ).bind( "click", function(event, ui) {
             $('#next').prop('disabled',true);
            next_click()
            setTimeout(function() {$('#next').prop('disabled',false) },500 )
        })

        // De Clear knop gooit leeg
        $( "#clear" ).bind( "click", function(event, ui) {
            $("#presentlist").empty()
            $.get( "clear");
            run_refresh_list()
        })

        // Open de popup
        $( "#newinit" ).bind( "click", function(event, ui) {
            $( "#popupBasic" ).popup( "open" )
        })

        // Iedere keer dat pop de "new" knop wordt gedrukt, rol een willekeurige waarde
        $( "#popupBasic" ).bind({
            popupafteropen: function(event, ui) {
                $("#monster_roll").val(Math.floor((Math.random() * 20) + 1)).slider("refresh");
            }
        });

        // Verberg de popup na invullen en voer nieuw initative in
        $( "#killpopupBasic" ).bind( "click", function(event, ui) {
            if($("#monster_name").val()) {
                setCookie("player", $("#monster_name").val())
                setCookie("playerinit", $("#monster_bonus").val())
                $.ajax({
                    type: 'POST',
                    url: 'add',
                    data: JSON.stringify({"name":$("#monster_name").val(),"bonus": $("#monster_bonus").val(), "roll":$("#monster_roll").val()}),
                    success: function(data) { add_list_initiative($("#monster_name").val(), parseInt($("#monster_roll").val()) + parseInt($("#monster_bonus").val())) },
                    contentType: "application/json",
                    dataType: 'json' });
                run_refresh_list()
                $("#popupBasic").popup("close")
            }
        });

        // Init gedaan, haal die shizzle op en blijf halen!
        fill_list()
    });
</script>

</body>
</html>