<!DOCTYPE html> 
<html> 
<head> 
	<title>Initiative!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="static/css/jquery-ui.css" />
    <link rel="stylesheet" href="static/css/pf_init.min.css" />
	<script src="static/js/jquery-2.1.1.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
	<script src="static/js/jquery.mobile-1.4.5.min.js"></script>
    <script src="static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="static/js/socket.io.min.js"></script>
    <script src="static/js/jquery-visibility.js"></script>
    <style>
        .ui-page {
            background: #000;
            background-image:url(static/css/images/bg.png);
            background-size:cover;
        }

        .key_button::first-letter {
            text-decoration: underline;
        }

        .sessionname {
            font-weight: bolder;
            font-size: large;
            text-align: center;
        }

        .presentlist {
            width: 90%
        }


        .smallscreens {
            display:none;
        }
        @media screen and (max-width: 991px) {
            .bigscreens {
                display: none;
            }

            .smallscreens {
                display: block;
            }
        }
    </style>
</head>
<body> 

<div data-role="page">

	<div data-role="header" id="state">
        <button id="clear" data-icon="delete">Clear</button>
		<h1 id="title">Initiative!</h1>
        <button id="roundcounter" data-icon="bars" data-iconpos="right" class="key_button">Round -</button>
	</div><!-- /header -->

	<div data-role="content">

        <ul data-role="listview" data-theme="a" data-inset="true" id="presentlist" class="presentlist"></ul>

        <div class="ui-grid-a">
            <div class="ui-block-a">
                    <button id="newinit" data-mini="true" data-icon="action">Add initative</button>
                    <button id="previous" data-mini="true" data-icon="back" class="key_button">
                        <span class="smallscreens">Previous</span>
                        <span class="bigscreens">Previous initiative</span>
                    </button>
            </div>
            <div class="ui-block-b">
                <button id="neweffect" data-mini="true" data-icon="action" data-iconpos="right">Add effect</button>
                <button id="next" data-mini="true" data-icon="forward" data-iconpos="right" class="key_button">
                    <span class="smallscreens">Next</span>
                    <span class="bigscreens">Next initiative</span>
                </button>
            </div>
        </div>

        <ul data-role="listview" data-theme="a" data-inset="true" id="effectlist" class="presentlist"></ul>

	</div><!-- /content -->

    <!-- Add initiative popup -->
    <div data-role="popup" id="popupBasic" class="ui-content">
        <input type="text" id="monster_name" placeholder="Player name" data-clear-btn="true">
        <label for="monster_roll">New initiative roll:</label>
        <input type="range" data-highlight="true" name="monster_roll" id="monster_roll" value="1" min="1" max="20">
        <label for="monster_bonus">New initiative bonus:</label>
        <input type="range" data-highlight="true" name="monster_bonus" id="monster_bonus" value="2" min="-5" max="30">
        <a href="#killpopupBasic" data-rel="popup" data-role="button" data-mini="true" id="killpopupBasic">Add!</a>
        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
    </div>

    <!-- Add effect popup -->
    <div data-role="popup" id="popupEffect" class="ui-content">
        <input type="text" id="effect_name" placeholder="New effect name" data-clear-btn="true">
        <label for="effect_duration">Effect duration:</label>
        <input type="range" data-highlight="true" name="effect_duration" id="effect_duration" value="1" min="1" max="30">
        <a href="#killpopupEffect" data-rel="popup" data-role="button" data-mini="true" id="killpopupEffect">Add!</a>
        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
    </div>

    <!-- Confirm clear popup -->
    <div data-role="popup" id="clearpopup" data-title="Confirm clear?" class="ui-content">
      <div data-role="content">
        <h3 class="sure-1">Confirm clearing</h3>
        <p class="sure-2">Are you sure you wish to clear the current initiative state and remove all effects?</p>
        <a href="#" id="clearconfirm" data-role="button" data-theme="b" data-rel="back">Yes</a>
        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
      </div>
    </div>


    <!-- Add state popup -->
    <div data-role="popup" id="statepopup" class="ui-content">
        Your session name: <span id="sessionname" class="sessionname"></span>
        Your session URL:<span id="sessionurl" class="sessionname"></span>
        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <a href="#" data-rel="popup" data-role="button" data-mini="true" id="returnhome">Main menu</a>
    </div>

        <!-- Sound taken from http://test.freesound.org/people/looppool/sounds/13119/  - thank you for sharing! -->
        <audio id="ding" >
            <source src="/static/sounds/13119__looppool__bell-blip.wav" >
            <source src="/static/sounds/13119__looppool__bell-blip.mp3" >
            <source src="/static/sounds/13119__looppool__bell-blip.ogg" >
        </audio>
</div><!-- /page -->
<script language="javascript">
    // Draw an additional initiative in the list
    function add_list_initiative(name, total, highlight) {
        attrs = {'text': name};
        li = $('<li/>', attrs);
        if(highlight) {
            li.attr("data-theme", "b").addClass("ui-body-b").removeClass("ui-body-inherit").attr("highlight","true")
        }
        li.append($('<span>', {"text":"Initiative: " + total,"class":"ui-li-count"}));
        $("#presentlist").append(li)
    }

    // Draw an additional effect in the list
    function add_list_effect(name, rounds) {
        attrs = {'text': name}
        if(rounds == 0) {
            attrs['class']='ui-disabled'
            attrs['style']='pointer-events: auto;'
        }
        li = $('<li/>', attrs)
        li.append($('<span>', {"text":"Rounds left: " + rounds,"class":"ui-li-count"}))

        if(rounds > 0) {
            $("#effectlist").prepend(li)
        } else {
            $("#effectlist").append(li)
        }
    }

    function hide_your_children() {
        list = $("#presentlist")
        var listviewitems = list.find("li");

        // When minified, show only 5 results
        if(list.attr("mini")) {
            selected = listviewitems.filter("[highlight='true']")
            selectedIndex = listviewitems.index(selected);
            listviewitems.hide();
            beginindex = Math.max(0, Math.min(selectedIndex - 2, listviewitems.length - 5))


            listviewitems.slice(beginindex, beginindex+ 5).show()
        } else {
            listviewitems.show()
        }
    }

    // Functie om een ding te doen als de browser tab inactive is
    var ding_timestamp = 0
    function ding() {
        var now = Math.round(Date.now());
        if(now - ding_timestamp > 2000 ) {
            if (document.hidden) {
                $("#ding").trigger("play")
            }
            ding_timestamp = now
        }
    }

    // Basic cookie stuff, very uninteresting
    function setCookie(key, value) {
            var expires = new Date();
            expires.setDate(expires.getDate() + 365);
            document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
        }

    function getCookie(key) {
            var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
            return keyValue ? keyValue[2] : null;
    }

    // This old_index global variable could also be done as a jquery attribute
    var old_index = -1;
    var effects_timestamp = 0;
    var initiatives_timestamp = 0;

    {# Deze variabele is de linking pin tussen pagina en applicatie! #}
    var session = "{{ session }}"
    $(document).bind('pageinit', function() {
        $( "#title").text($( "#title").text() + " (" + session + ")");
        document.title = document.title + " ("  + session + ")";
        // Zaken om de boel sorteerbaar te houden
        var presentlist = $( "#presentlist" );
        var effectlist = $( "#effectlist" );

        presentlist.sortable()
        presentlist.disableSelection();

        // So this list is not actually sorteable, but this is the easiest way of making list items deleteable by swiping
        effectlist.sortable()
        effectlist.disableSelection();

        // All aboard the websocket train!
        var socket = io.connect('http://'+location.host+'/state');

        // Refresh list to the end of sort to have a correct display
        presentlist.bind( "sortstart", function(event, ui) {
            old_index = ui.item.index()
        });

        // So when someone stops dragging, two things can be the case. Either the item has been dragged to the side.
        // In that case, We call it a swipe and delete it.
        // Else, check if our index has changed courtesy of jquery mobile. In that case, it's a player delay action
        presentlist.bind( "sortstop", function(event, ui) {
            if (Math.abs(ui.offset.left - ui.originalPosition.left)>70){
                socket.emit("delete", {"session": session, "index": ui.item.index()});
                // Meteen weggooien, want trage update is lelijk
                $( "#presentlist li").eq(ui.item.index()).remove();
            } else if (old_index != ui.item.index()) {
                // Oh, dit is een delay..
                socket.emit("move", {"session":session, "old_index": old_index, "new_index":ui.item.index()});
            }
            old_index = -1
        });

        // Als iemand sleur en pleur doet
        effectlist.bind( "sortstop", function(event, ui) {
            if (Math.abs(ui.offset.left - ui.originalPosition.left)>70) {
                socket.emit("deleteeffect", {"session":session,"name": ui.item.contents().get(0).nodeValue});
            }
        })

        // Vul de form elementen uit de cookie
        var playerName = getCookie("player");
        if(playerName) {
            $("#monster_name").val(playerName);
            $("#monster_bonus").val(getCookie("playerinit"));
            $("#effect_duration").val(getCookie("effectduration") ? getCookie("effectduration") : 0)
        }

        $( "#roundcounter" ).bind( "click", function(event, ui) {
            if($("#presentlist").attr("mini") || $( "#presentlist li").size() == 0) {
                $("#presentlist").removeAttr("mini")
                $( "#roundcounter" ).toggleClass("ui-overlay-shadow ui-btn-active", false)

            } else {
                $("#presentlist").attr("mini", "true");
                $( "#roundcounter" ).toggleClass("ui-overlay-shadow ui-btn-active", true)
            }

            event.stopPropagation();
            hide_your_children()
        });

        // Als iemand op NEXT klikt, rol dan door naar de volgende
        $( "#next" ).bind( "click", function(event, ui) {
            if($( "#presentlist li").size() > 0) {
                socket.emit('next',{"session":session});
            }
        });

        $( "#previous" ).bind( "click", function(event, ui) {
            socket.emit('rollback_next', {"session":session});
        });


        // En registreer de N en de spatie om NEXT te klikken en de P om terug te rollen
        $(document).keypress(function(e) {
            // Hotkeys should not trigger when entering text in a popup
            if($.mobile.popup.active == undefined) {
                if (e.which == 110 || e.which == 32 || e.which == 0) {
                    $("#next").trigger("click")
                } else if (e.which == 112) {
                    $("#previous").trigger("click")
                } else if (e.which == 114) {
                    $("#roundcounter").trigger("click")
                }
            }
        });

        // De Clear knop gooit leeg
        $( "#clear" ).bind( "click", function(event, ui) {
            event.stopPropagation();
            $( "#clearpopup" ).popup( "open" )
        });

        $("#clearconfirm").bind("click", function(event, ui){
            $("#presentlist").empty();
            socket.emit("clear", {"session":session});
        });

        // Open de popup
        $( "#newinit" ).bind( "click", function(event, ui) {
            $( "#popupBasic" ).popup( "open" )
        });

        $( "#neweffect" ).bind( "click", function(event, ui) {
            $( "#popupEffect" ).popup( "open" )
        });

        $( "#returnhome" ).bind( "click", function(event, ui) {
            window.location = "/"
        });

        $( "#state" ).bind( "click", function(event, ui) {
            url ="" + window.location
            if(url.indexOf("#") > -1) {
                url = url.substring(0, url.indexOf("#"))
            }
            $( "#sessionname" ).text(session);
            $( "#sessionurl" ).text(url);
            $( "#statepopup" ).popup( "open" )
        });

        // Iedere keer dat pop de "new" knop wordt gedrukt, rol een willekeurige waarde en zet focus op het naamveld. Als er ergens op enter wordt gedrukt, simuleer een click op de submit
        $( "#popupBasic" ).bind({
            popupafteropen: function(event, ui) {
                $("#monster_roll").val(Math.floor((Math.random() * 20) + 1)).slider("refresh");
                $("#monster_name").focus()
            }
        }).on('keyup', function(e) {
            if(e.keyCode == 13 ) {
                $( "#killpopupBasic" ).click();
            }
        });

        // Iedere keer dat pop de "new" knop wordt gedrukt, zet focus op het naamveld. Als er ergens op enter wordt gedrukt, simuleer een click op de submit
        $( "#popupEffect" ).bind({
            popupafteropen: function (event, ui) {
                $("#effect_name").focus()
            }
        }).on('keyup', function(e) {
            if(e.keyCode == 13 ) {
                $("#killpopupEffect").click();
            }
        });

        // Verberg de popup na invullen en voer nieuw initative in
        $( "#killpopupBasic" ).bind( "click", function(event, ui) {
            monsterval = $("#monster_name").val()
            if(monsterval) {
                setCookie("player", monsterval)
                setCookie("playerinit", $("#monster_bonus").val())
                socket.emit("add",{"session":session,"name":monsterval,"bonus": $("#monster_bonus").val(), "roll":$("#monster_roll").val()})
                // Vroeger trok ik alvast een fake extra regel erbij, maar met websockets is dat niet meer nodig
                $("#popupBasic").popup("close")
            }
        });

        // Verberg de popup na invullen en voer nieuw effect in
        $( "#killpopupEffect" ).bind( "click", function(event, ui) {
            if($("#effect_name").val()) {
                setCookie("effectduration", $("#effect_duration").val())
                socket.emit("addeffect",{"session":session,"name":$("#effect_name").val(),"duration": $("#effect_duration").val()});
                $("#popupEffect").popup("close")
            }
        });

        // Vang status af en ververs tabel
       socket.on('newstate', function(msg) {
            if(msg.initiatives_timestamp != initiatives_timestamp && msg.session == session) {
                var initiatives = msg.initiatives;
                $("#presentlist").empty();
                $(initiatives).each(function (idx) {
                    add_list_initiative(this.name, this.total, this.turn)
                });
                $("#presentlist").listview("refresh");
                hide_your_children();
                var roundtext = "Round " + (msg.round == 0 ? "-" : msg.round)
                $("#roundcounter").text(roundtext);
                initiatives_timestamp = msg.initiatives_timestamp;
                ding()
            }
        });

       // Vang status af en ververs tabel
       socket.on('neweffects', function(msg) {
            if(msg.effects_timestamp != effects_timestamp && msg.session == session) {
                var effects = msg.effects;
                $("#effectlist").empty();
                $(effects).each(function (idx) {
                    add_list_effect(this.name, this.rounds)
                });
                $("#effectlist").listview("refresh");
                effects_timestamp = msg.effects_timestamp;
                ding()
            }
        });

        // We hebben misschien een update gemist als de user weg klikt
        $(document).on('show', function() {
            socket.emit('getstate', {"session":session,"effects_timestamp":effects_timestamp, "initiatives_timestamp":initiatives_timestamp});
        });

        // Init gedaan, gooi die websocket op en wacht gespannen af!
        socket.emit('getstate', {"session":session});
    });
</script>
</body>
</html>